html{
    font-size: 25px
    
    }
    
    body {
        background-color:rgb(246, 145, 21)
    
        ;
        color: whitesmoke;
    }
    
    p{
        color: rgb(0, 0, 0);
        font-size: 20px;
        
    }

    h1 {
        color: rgb(0, 0, 0);
    }

    h3 {
        color: rgb(0, 0, 0);
    }
    